<h2>Reactive: Basics</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Form -->
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
      <!-- Product -->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Product name" formControlName="product_name">
          <span class="form-text text-danger" *ngIf="valid_field('product_name')">
            * The product name must have at least 3 characters.
          </span>
        </div>
      </div>

      <!-- Price -->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Product price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Product price" formControlName="price">
          <span class="form-text text-danger" *ngIf="valid_field('price')">
            * The price must be greater than 0.
          </span>
        </div>
      </div>

      <!-- Available products -->
      <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Available products</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" placeholder="Available products"
            formControlName="available_product">
          <span class="form-text text-danger" *ngIf="valid_field('available_product')">
            * The price must be greater than 0.
          </span>
        </div>
      </div>

      <!-- Submit -->
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{myForm.valid}}</pre>

    <span>Pristine</span>
    <pre>{{myForm.pristine}}</pre>

    <span>Touched</span>
    <pre>{{myForm.touched}}</pre>

    <span>Value</span>
    <pre>{{myForm.value | json}}</pre>
  </div>
</div>